@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/// COLORS
$background-color: whitesmoke;
$main-text-color: rgb(26, 26, 26);
$card-background-color: whitesmoke;

///FONT 
$font: 'Lato', sans-serif



